<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns = "http://www.springframework.org/schema/beans"
   xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
   xmlns:context = "http://www.springframework.org/schema/context"
   xsi:schemaLocation = "http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
   http://www.springframework.org/schema/context
   http://www.springframework.org/schema/context/spring-context-3.0.xsd">

<!--XML based-->
<!--<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans.xsd">-->
        
	<!--<bean id = "vehicle" class = "com.srishti.Spring.Car"></bean>-->
	
	
	<!--To let spring know that we are using annotation based config, we need to use a line here-->
	<context:component-scan base-package='com.srishti.Spring'></context:component-scan>
	
	<bean id = "tyre" class = "com.srishti.Spring.Tyre">
		
		<!-- Constructor Injection
		<constructor-arg value = "MRF"></constructor-arg> -->
		
		<!--Setter injection:-->
		<!--<property name = "brand" value = "MRF"></property>-->
	</bean>
	
</beans>